
.fc-col-header-cell-cushion,
.fc-daygrid-day-number,
.fc-daygrid-day-top{
    color: #333;
}
.fc-view-harness {
box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.fc-day-sat{
    background-color: #79bef7;
    z-index: -1;

}
.fc-day-sun{
    background-color: #f4d0df;
    z-index: -1;

}
.fc .fc-toolbar-title{
color:#333;
font-weight: bold;
font-size: 2.75em;
}


/* カレンダーの日付 */
.fc .fc-daygrid-day-number {
    padding: 8px;
    position: relative;
    z-index: 4;
    font-size: 20px;
    font-weight: bold;
}
/* カレンダーの枠線ここから */
.fc-theme-standard td{
    border: 2px solid #928f8f  ;
}
.fc-theme-standard .fc-scrollgrid{
    border: 2px solid #928f8f ;
    border-right:none;

} 
.fc-theme-standard td, .fc-theme-standard th{
    border: 2px solid #928f8f  ;
}
/* カレンダー枠線ここまで */

/* eventアイコンの配置 */
.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start{
    margin:0 auto;
    margin-bottom: 8px;
    display: flex;

    
}


 .fc-event{
    box-shadow: 0 5px 0 #ca1c30; 
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s;
    background-color: rgb(230, 63, 94); 
    width: 70px;
    height:70px;
    border-radius:50%;
    text-align: center;
    vertical-align: middle;
    color:white;
    font-size: 1em;
  
    padding: 1px;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    

 } 

.fc-daygrid-event:active {
  box-shadow: none;
  transform: translateY(5px);
}

.fc-event-same-day{
margin-right:5px;
}
b{
margin: 0 auto;
}


.fc .fc-daygrid-event{
margin-top: 2px;

}

.fc .fc-daygrid-body-natural .fc-daygrid-day-events{
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    }
.fc-popover-body{
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

#modal-overlay {
    z-index: 40; /* オーバーレイのz-indexはモーダルより低い値 */
    background-color: rgba(0, 0, 0, 0.5); /* 背景色と透明度 */
}
#popup-modal {
    position: fixed;

    z-index: 50; /* 必要に応じてz-indexを調整 */
}
.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* 矢印の位置決めのために必要 */
}

.arrow {
    font-size: 4rem; /* 矢印の大きさ */
    animation: blink 1s linear infinite; /* 点滅アニメーション */
    padding-left: 8px; /* 矢印とテキストの間隔 */
}

@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
